[user]
	name = zyon
	email = 32070378+zyoNoob@users.noreply.github.com

[core]
  editor = vim
  autocrlf = false

[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[push]
  autoSetupRemote = true

[lfs]
  concurrenttransfers = 16

[http]
    postBuffer = 524288000

[alias]
	setup-multi-push = "!f() { name=\"$1\"; shift; fetch_url=\"$1\"; shift; git remote add \"$name\" \"$fetch_url\"; for url in \"$fetch_url\" \"$@\"; do git remote set-url --add --push \"$name\" \"$url\"; done; }; f"