[user]
	name = zyon
	email = 32070378+zyoNoob@users.noreply.github.com

[core]
  editor = vim
  autocrlf = false

[init]
	defaultBranch = main

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[push]
  autoSetupRemote = true

[lfs]
  concurrenttransfers = 16

[http]
    postBuffer = 524288000
