configuration{
    modi: "drun,run,window,ssh,combi,";
    dpi: ${xrdb.Xft.dpi};
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰀘  APPS   ";
    display-run: "   RUN    ";
    display-window: " 󰕰  WINDOW ";
    display-ssh: "   SSH    ";
    display-combi: " 󰕘  ALL    ";
    sidebar-mode: true;
}


@theme "catppuccin-mocha"