configuration{
    modi: "drun,run,window,combi";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰀘  Apps   ";
    display-run: "   Run    ";
    display-window: " 󰕰  Window ";
    display-combi: " 󰕘  All    ";
    sidebar-mode: true;
}


@theme "catppuccin-mocha"